<h2><u><%= @word.show() %></u></h2>
 
<% @all_definitions.each() do |definition| %>
  <dl class="dl-horizontal">
    <dt><%= definition.part_of_speech() %></dt>
    <dd><%= definition.description %></dd>
    <dd><em><%= definition.language() %></em></dd> 
  </dl>
 
<% end %>


<ul class="list-inline">
  <li><a href="/word/<%= @word.id %>/new_definition/new">Add a definition</a></li>
  <li><a href="/">Home</a></li>
</ul>