<h2><%= @word.show() %></h2>
 
<% @all_definitions.each() do |definition| %>
  <h4><i><%= definition.part_of_speech() %></i></h4>
  <ul>
    <li><%= definition.language() %>: <%= definition.description %></li>
  </ul>
<% end %>


<p><a href="/word/<%= @word.id %>/new_definition/new">Add a definition</a></p>
<p><a href="/word_list">Back to word list</a></p>